@import 'styles/base';
@import './../../node_modules/antd/dist/reset.css';

html,
body,
div#root {
  @include full-page;
  margin: 0;
  padding: 0;
}

.content-layout {
  padding: 10px;
}

.user-info-layout {
  padding: 6px;
  justify-content: right;
}

.content-layout-top {
  margin-top: 10px;
}

.required {
  color: red;
}

.error-layout {
  color: red;
  font-weight: bold;
}

.form-label {
  padding: 0 6px;
}

.align-right {
  text-align: right;
}

.align-center 
{
  text-align: center;
}

.light-text {
  color: whitesmoke;
}

.fixed-item {
  display: inline-block;
}
